<%- include('layout', { head: '<meta http-equiv="refresh" content="3;url=/">' }) %>
<div class="card p-4 bg-white">
  <h1 class="h4">You have been logged out</h1>
  <p>Redirecting to <a href="/">home</a>…</p>
</div>
